body {
    margin: 0;
}

#hero-image {
    display: block;
    position: absolute;
    top: -10vw;
    left: 0;
    width: 110vw;
    height: auto;
    z-index: -999;
    filter: sepia(35%) blur(5px);
}
